div.tile-container .tile .tile-inner {
    color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
    z-index: 10;
}
.tile.tile-1 .tile-inner {
    background-image: url('../i/yukachi/2.gif')
}
.tile.tile-2 .tile-inner {
    background-image: url('../i/yukachi/4.gif')
}
.tile.tile-3 .tile-inner {
    background-image: url('../i/yukachi/8.gif')
}
.tile.tile-5 .tile-inner {
    background-image: url('../i/yukachi/16.gif')
}
.tile.tile-8 .tile-inner {
    background-image: url('../i/yukachi/32.gif')
}
.tile.tile-13 .tile-inner {
    background-image: url('../i/yukachi/64.gif')
}
.tile.tile-21 .tile-inner {
    background-image: url('../i/yukachi/128.gif')
}
.tile.tile-34 .tile-inner {
    background-image: url('../i/yukachi/256.gif')
}
.tile.tile-55 .tile-inner {
    background-image: url('../i/yukachi/512.gif')
}
.tile.tile-89 .tile-inner {
    background-image: url('../i/yukachi/1024.gif')
}
.tile.tile-144 .tile-inner {
    background-image: url('../i/yukachi/2048.gif')
}
.tile.tile-233 .tile-inner {
    background-image: url('../i/yukachi/233.gif')
}
.tile.tile-377 .tile-inner {
    background-image: url('../i/yukachi/377.gif')
}
.tile.tile-610 .tile-inner {
    background-image: url('../i/yukachi/610.gif')
}
.tile.tile-987 .tile-inner {
    background-image: url('../i/yukachi/987.gif')
}
.tile.tile-1597 .tile-inner {
    background-image: url('../i/yukachi/1597.gif')
}
.tile.tile-2584 .tile-inner {
    background-image: url('../i/yukachi/2584.gif')
}
.tile.tile-super .tile-inner {
    color: rgb(255, 230, 230);
    color: rgba(255, 230, 230, 0.9);
    text-shadow: 0 0 3px rgba(255, 230, 230, 0.9);
    background-image: url('../i/yukachi/super.gif');
    font-size: 20px;
    line-height: 100%;
}
#preload images body:after {
    display: none;
    url('../i/yukachi/2.gif') url('../i/yukachi/4.gif') url('../i/yukachi/8.gif') url('../i/yukachi/16.gif') url('../i/yukachi/32.gif') url('../i/yukachi/64.gif') url('../i/yukachi/128.gif') url('../i/yukachi/256.gif') url('../i/yukachi/512.gif') url('../i/yukachi/1024.gif') url('../i/yukachi/2048.gif') url('../i/yukachi/233.gif') url('../i/yukachi/377.gif') url('../i/yukachi/610.gif') url('../i/yukachi/987.gif') url('../i/yukachi/1597.gif') url('../i/yukachi/2584.gif') url('../i/yukachi/super.gif')
}
